{% extends 'base.html' %}
{% block body %}
          <div class="container">


          {% if error_message %}
            {% for error_msg in error_message %}
              <p><strong> {{ error_msg }} </strong></p>
            {% endfor%}
          {% endif %}




                  <div class ="form">

                  <p><strong> Fill this form to register</strong></p>
                  <form action="{% url 'mysite:register' %}" name="registeration" method="post">

                    {% csrf_token %}
                          <label>username</label>
                           <br>
                          <input type="text" name="username" for="username">
                          <br>

                          <label>Email</label>
                          {%if emailError%}
                          <div class="alert alert-danger" role="alert" style="width: 40%;margin: auto;padding: 20px;">
                              {{emailError}}
                          </div>
                          {%endif%}
                           <br>
                          <input type="text" name="email" for="email">
                          <br>

                          <label>Password</label>
                          {%if passwordError%}
                          <div class="alert alert-danger" role="alert" style="width: 40%;margin: auto;padding: 20px;">
                          {{passwordError}}
                          </div>
                          {%endif%}
                           <br>
                          <input type="password" name="password_1" for="password">
                          <br>

                          <label>Confirm Password</label>
                           <br>
                          <input type="password" name="password_2" for="confirm password">
                          <br>
                          <br>
                          <button type="submit" name="register">Register Now </button>

                  </form>

                  </div>
          </div>
{% endblock %}
