{% extends 'base.html' %}
{% block head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'mysite/contactStyle.css' %}">
{% endblock %}
{% block body %}


<div class="container">
  <form id="contact" action="{%url 'mysite:contact' %}" method="post">
    {%csrf_token%}
    <h3>Our Contact Form</h3>
    <h4>Contact us for get Your Company Registered</h4>

    {% for field in form %}
    <fieldset>
      {{field.errors}}
      <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{field.label}}</label>
      {{field}}
      {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </fieldset>
    {%endfor%}
    <input type="submit" value="Submit">
  </form>
</div>


{% endblock %}
