

  {% extends 'base.html' %}
{%block head%}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500" rel="stylesheet">

{%endblock%}
  {% block body %}


      <div class = "container-index container">

        <h2> BUGGIE </h2>
        {% if not user.is_authenticated %}
        <a href="{% url 'mysite:login' %}"><button class='btn btn-default'>Click here to Login</button></a> {{ profileFilledAck }}
        {% endif %}
        {% if user.is_authenticated %}
        {% if not profileFilledAck %}
          <span class = 'profileFilledAck'>You have not filled your Profile details</span>
          <a href="{% url 'mysite:profile' %}"><button class='btn btn-default'>Click here to Fill your profile</button></a><br>
        {% endif %}
        {% endif %}
        <a href="{% url 'mysite:register' %}"><button class='btn btn-default'>Click here to Register</button></a><br>
        <!--  <a href="{% url 'mysite:logout' %}">Click here to Logout</a>-->




      </div>
  {% endblock %}
