

  {% extends 'base.html' %}
{%block head%}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500" rel="stylesheet">

{%endblock%}
  {% block body %}


      <div class = "container-index container">
        {%load static%}
        <div class="jumbotron jumbotron-fluid" style="background-image:url({% static 'mysite/buggie.png'%});height:400px">
            <div class="container">
          <h1 class="display-4" style='text-align:left'>BUGGIE</h1>
              <p class="lead" style='text-align:left'>This is a Issue Tracking system.</p>
          </div>
        </div>
        {% if not user.is_authenticated %}
        <a href="{% url 'mysite:login' %}"><button class='btn btn-default'>Click here to Login</button></a> {{ profileFilledAck }}
        <a href="{% url 'mysite:register' %}"><button class='btn btn-default'>Click here to Register</button></a><br>
        {% endif %}
        {% if user.is_authenticated %}
        {% if not profileFilledAck %}
          <span class = 'profileFilledAck'>You have not filled your Profile details</span>
          <a href="{% url 'mysite:profileSelection' %}"><button class='btn btn-default'>Click here to Fill your profile</button></a><br>
        {% endif %}
        {% endif %}

        <!--  <a href="{% url 'mysite:logout' %}">Click here to Logout</a>-->




      </div>
  {% endblock %}
