

{% extends 'base.html' %}

{%block head%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{%endblock%}
{% block body %}
{% load mysite_extras %}
	<div class  = 'container'>

		<h2>Project Listings</h2>
		{% if request.user.is_staff %}
		<a href="{% url 'mysite:newProject'%}">
		<button class="new-project-button btn btn-default" id="new-project-button">
			Click to add new Project</button></a>
			{% endif %}

		  <br>

			<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Filter Company
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% for company in companies %}
							<a class='dropdown-item' href='{% url 'mysite:projects_filtered' company.companyId %}'>{{company.companyName}}</a>
						{% endfor %}
					</div>
			</div>

		<div class='margins' style="padding:40px">
			<table class='table table-striped table-bordered'>
				<tr>
					<th>Project Name</th>
					<th>Company</th>
					<th>Started on</th>
					<th>Active bugs</th>
				</tr>

				{% for project in projects %}

					<tr>
						<th> <a href="{% url 'mysite:projectDisplay' project.project_id%}">{{project.project_name}}</a> </th>
						<th> {{project.company.companyName}} </th>
						<th> {{project.start_date}} </th>
						<th> {{ cardinal|hash:project.project_id }} </th>
					</tr>

				{% endfor %}
			</table>
		</div>
	</div>

{% endblock %}
